.md__note-show {
  .note-header {
    .header-left {
      .user-name {
        margin-left: 5px;
      }
    }
    .header-right {
      float: right;
    }
  }
  .note-content,
  .note-footer {
    padding-left: 30px;
  }
  .note-footer {
    .ant-btn {
      padding: 0 !important;
    }
  }
}
